build:
  maxIssues: 0
  excludeCorrectable: false

config:
  validation: true

processors:
  active: true

naming:
  active: true
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
    ignoreOverridden: true
  VariableNaming:
    active: true
    variablePattern: '[a-z][A-Za-z0-9]*'
    privateVariablePattern: '(_)?[a-z][A-Za-z0-9]*'
  PackageNaming:
    active: true
    packagePattern: '^[a-z]+(\.[a-z][a-z0-9_]*)*$'
  MatchingDeclarationName:
    active: true

formatting:
  active: true
  FinalNewline:
    active: true
  Indentation:
    active: true
  MaximumLineLength:
    active: true
    maxLineLength: 140
